<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Continuent Load Generator</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.openshift.css" />
    <link rel="stylesheet" type="text/css" href="assets/js/jquery-ui-1.10.3/themes/base/jquery-ui.css" />
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="assets/js/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/flot/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/flot/jquery.flot.stack.js"></script>
    <script language="javascript" type="text/javascript" src="assets/js/reload.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/logo.png"/>
        <h1>Continuent<br/>Tungsten Load Generator</h1>
      </div>
    </header>
    <div id="controldialog" title="Load Generator Control" style="display:none;">
      <div id="controlform" >
        <div class="inlinediv">
          <label for="host">Hostname</label>
          <input id="config_connbase_host" name="config_connbase_host" type="text" width="60" />
        </div>
        <div class="inlinediv">
          <label for="host">Application User</label>
          <input id="config_connbase_user" name="config_connbase_user" type="text" width="20" />
        </div>
        <div class="inlinediv">
          <label for="host">Application Password</label>
          <input id="config_connbase_password" name="config_connbase_password" type="text" width="20" />
        </div>
        <div class="inlinediv">
          <label for="rthreads">Read Threads:</label>
          <input id="config_thrgroupro_threadCount" name="config_thrgroupro_threadCount" type="text" />
        </div>
        <div class="inlinediv">
          <label for="wthreads">Write Threads:</label>
          <input id="config_thrgrouprw_threadCount" name="config_thrgrouprw_threadCount" type="text" />
        </div>
        <div class="advancedbutton">          
          <a href="#" id="#shadvgroup" onclick="$('#advancedgroup').toggle();">Advanced Options</a>
        </div>
        <div id="advancedgroup" style="display:none;">
          <div>
            <label style="display:inline" for="host">Load Type:</label>
            <select style="display:inline" id="connections" name="connections">
              <option value="1">One Thread, Read-Only</option>
              <option value="2" selected="true">Two Threads, Read-Write</option>
            </select>
          </div>
          <div><label  style="display:inline" for="core_testDuration">Test Duration:</label>
            <input id="config_core_testDuration" name="config_core_testDuration" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/> Seconds
          </div>
          <div style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">Table Group</div>
          <div><label  style="display:inline" for="config_tabgroup_size">Size:</label>
            <input id="config_tabgroup_size" name="config_tabgroup_size" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
          </div>
          <div style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">Read Only Thread Settings</div>
          <div>
            <label  style="display:inline" for="config_thrgroupro_readSize">Reads:</label>
            <input id="config_thrgroupro_readSize" name="config_thrgroupro_readSize" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
          </div>
          <div class="inlinevarblock">
            <label  style="display:inline" for="config_thrgroupro_rampUpInterval">Ramp Up Interval:</label>
            <input id="config_thrgroupro_rampUpInterval" name="config_thrgroupro_rampUpInterval" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
            <label  style="display:inline" for="config_thrgroupro_rampUpIncrement">Increment:</label>
            <input id="config_thrgroupro_rampUpIncrement" name="config_thrgroupro_rampUpIncrement" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
          </div>
          <div class="inlinevarblock">
            <label  style="display:inline" for="config_thrgroupro_thinkTime">Think Time:</label>
            <input id="config_thrgroupro_thinkTime" name="config_thrgroupro_thinkTime" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
          </div>
          <div style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">Read/Write Thread Settings</div>
          <div class="inlinevarblock">
            <label for="config_thrgrouprw_readSize">Reads:</label>
            <input id="config_thrgrouprw_readSize" name="config_thrgrouprw_readSize" type="text" width="5" maxsize="5"  style="width:75px;"/>
            <label for="config_thrgrouprw_inserts">Inserts:</label>
            <input id="config_thrgrouprw_inserts" name="config_thrgrouprw_inserts" type="text" width="5" maxsize="5"  style="width:75px;"/>
          </div>
          <div class="inlinevarblock">
            <label for="config_thrgrouprw_updates">Updates:</label>
            <input id="config_thrgrouprw_updates" name="config_thrgrouprw_updates" type="text" width="5" maxsize="5"  style="width:75px;"/>
            <label for="config_thrgrouprw_deletes">Deletes:</label>
            <input id="config_thrgrouprw_deletes" name="config_thrgrouprw_deletes" type="text" width="5" maxsize="5"  style="width:75px;"/>
          </div>
          <div class="inlinevarblock">
            <label  style="display:inline" for="config_thrgrouprw_rampUpInterval">Ramp Up Interval:</label>
            <input id="config_thrgrouprw_rampUpInterval" name="config_thrgrouprw_rampUpInterval" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
            <label  style="display:inline" for="config_thrgrouprw_rampUpIncrement">Increment:</label>
            <input id="config_thrgrouprw_rampUpIncrement" name="config_thrgrouprw_rampUpIncrement" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
          </div>
          <div class="inlinevarblock">
            <label  style="display:inline" for="config_thrgrouprw_thinkTime">Think Time:</label>
            <input id="config_thrgrouprw_thinkTime" name="config_thrgrouprw_thinkTime" type="text" width="5" maxsize="5" style="display:inline; width: 75px;"/>
          </div>
          <div class="inlinevarblock">
            <label for="debug">Debug Mode:</label>
            <input id="debug" name="debug" type="checkbox" width="5" maxsize="5" />
          </div>
        </div>
      </div>
    </div>
    
    <div class="status">Status: <div id="loadmessage" class="statusmsg"></div></div>
    <div class="status">Current Host: <div id="hostmessage" class="statusmsg"></div></div>
    <div id="plot" class="plot">
      <div id="plot1" class="plot1"></div>
    </div>
    <div id="logocontrol" class="icon-plus toolbar"><p>Show preferences</p></div>

    <script language="javascript" type="text/javascript" src="assets/js/theme_switch.js"></script>
  </body>
</html>
