<HTML>
    <HEAD>
        <TITLE>tungsten        </TITLE>
    </HEAD>
    <BODY>
        <TABLE border="1">
            <TR>
                <TH>time                </TH>
                <TH>users                </TH>
                <TH>average response time                </TH>
                <TH>queries Per Second                </TH>
                <TH>label                </TH>
                <TH>queries                </TH>
                <TH>rows read                </TH>
                <TH>updates                </TH>
                <TH>deletes                </TH>
                <TH>inserts                </TH>
                <TH>interval                </TH>
            </TR>
            <TR>
                <TD align="right">0                </TD>
                <TD align="right">1                </TD>
                <TD align="right">0                </TD>
                <TD align="right">2147483647                </TD>
                <TD>Total                </TD>
                <TD align="right">1113                </TD>
                <TD align="right">673                </TD>
                <TD align="right">0                </TD>
                <TD align="right">0                </TD>
                <TD align="right">0                </TD>
                <TD align="right">0                </TD>
            </TR>
        </TABLE>
    </BODY>
</HTML>
